.header {
  background: url("../../assests/image-hero-mobile.jpg") no-repeat;
  background-size: 100% auto;
  height: 0;
  padding-bottom: calc(80% - 1.5rem);
  padding-top: 1.5rem;
}
.header .nav-bar{
  box-shadow: none;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.drop-menu {
  position: absolute;
  background-color: #fff;
  top: 3rem;
  left: 0;
  width: 100% !important; /*first time*/
  opacity: 0;
  transform-origin: center top;
  transform: scaleY(0);
  transition: 400ms;
  pointer-events: none;
}
.drop-menu li:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.drop-menu a {
  display: block;
  padding: 1.4rem;
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
}
.drop-menu a:hover, #action-btn:hover {
  cursor: pointer;
}
.menu-dropped .drop-menu {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
  z-index: 1;
}

@media (min-width: 500px) {
  .header {
    background-image: url(../../assests/image-hero-desktop.jpg);
    padding-bottom: calc(27.78% - 1.5rem);
  }
  #action-btn {
    display: none;
  }
  .header .drop-menu {
    box-shadow: none;
  }
  .drop-menu {
    position: static;
    background-color: transparent;
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
  }
  .drop-menu ul {
    display: flex;
  }
  .drop-menu li {
    position: relative;
  }
  .drop-menu li:not(:first-of-type) {
    margin-left: 1.5rem;
    border: none;
  }
  .drop-menu li:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--clr-white);
    transform: scaleX(0);
    transform-origin: left top;
    transition: 400ms;
  }
  .drop-menu li:hover:after {
    transform: scaleX(1);
  }
  .drop-menu a {
    padding: 0;
    color: var(--clr-white);
  }
}

@media (min-width: 900px) {
  .drop-menu li:not(:first-of-type) {
    margin-left: 3rem;
  }
  
}