.statistics {
  background-color: var(--clr-white);
  text-align: center;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  transform: translateY(-1.5rem);
  max-width: 800px;
}
.statistic p{
  margin-top: .4rem;
  color: var(--clr-d-gray);
  font-size: var(--text-p);
}
.statistics hr {
  width: 5.5rem;
  margin: 1.5rem auto 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
}
.statistics h2 {
  font-size: 2rem;
}
.progress-bar {
  margin-top: 1.5rem;
  height: .7rem;
  background-color: #eee;
  border-radius: 8px;
}
.progress {
  background-color: var(--clr-moderate-cyan);
  height: 100%;
  width: 10%;
  border-radius: inherit;
  transition: 500ms ease-in-out;
}
@media (min-width: 666px) {
  .statistics {
    padding: 2.2rem;
    transform: translateY(-4.5rem);
    animation: slide 1.2s ease-out;
  }
  @keyframes slide {
    from {
      transform: translateY(-19rem);
    }
    to{
      transform: translateY(-4.5rem);
    }
  }
  .statistic-ctr {
    display: flex;
  }
  .statistics hr {
    margin: 2rem 2rem;
    width: 4rem;
    transform: rotateZ(-90deg);
  }
}
