.button {
  border: none;
  border-radius: 2rem;
  background-color: var(--clr-moderate-cyan);
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-white);
  width: 75%;
  max-width: 220px;
  padding: 1rem 0;
  transition: 300ms;
}

.button:hover {
  cursor: pointer;
  background-color: var(--clr-d-cyan);
}
.disable {
  pointer-events: none;
  background-color: var(--clr-d-gray);
}
